# Скомпилированный бинарник (название вашего проекта)
/sftp_tools
/sftp_tools.exe

# Временные файлы тестов
*.test
*.out

# Кэш Go (если используете)
go.work
go.work.sum

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
*~